1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "N/A"
      VALUE "FileDescription", "Scene API Demo Program 1"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Scene_API_DEMO_PRG1"
      VALUE "LegalCopyright", "gek 2018"
      VALUE "OriginalFilename", "SceneAPIDemo1.exe"
      VALUE "ProductName", "Scene API Demo Program 1"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
id ICON "Scene_API_Icon.ico"